body{
    font-family: Raleway,Helvetica,Arial;
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 1px;
}
p{
    line-height: 30px;
    font-weight: 400px;
}
h1,h2,h3,h4,h5,h6{
    color:#333333;
    text-transform: uppercase;
    font-family: Raleway,Helvetica,Arial;
}
a{
    color: #3498db;
    text-decoration: none;
}
a:hover,
a:focus{
color: #308ac6;
}
.btn-default{
    border-radius: 2px;
    border:1px solid #bdc3c7;
    font-size: 14px;
    color:#95a5a6;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 20px;
    background: transparent;
}
.btn-default:hover{
    background: #fff;
    color: #3498db;
    border:1px solid #3498db;
}
.btn:active{
    box-shadow: none;
}


.navbar-brand{
    width:220px;
    height:auto;
    padding: 0;
    margin: 5px 0 0;
    background:url(img/brand.png) no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
.navbar-light {
    background:none;
    border: none;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    color:#95a5a6;
    padding:11px 10px;
    text-align: center;
}

.navbar-light .navbar-nav>.active>.nav-link,
.navbar-light .navbar-nav>.active>.nav-link:hover,
.navbar-light .navbar-nav>.active>.nav-link:focus{
    background: none;
    color:#fff;
    outline:0;
    border-bottom: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color:white;
}
.navbar .navbar-nav{
    margin-left: 35%;
    text-align: right;
    float: right;
    justify-content: flex-end;
}
.jumbotron{
    background: #333333;
    margin-bottom: 0;
    padding: 30px 30px 10px;
    border-radius: 0;
}
.navbar-light .navbar-nav>.active>.nav-link {
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    border-bottom: solid white 1px;
    padding:11px 10px;
    text-align: center;
}
.navbar-light .navbar-nav>li>a:hover, 
.navbar-light .navbar-nav>li>a:focus{
    background: none;
    color:#fff;
    outline:0;
}
.navbar-light .navbar-toggler{
    border:none;
    margin-top: 0;
    margin-right: 0;
    text-align: center;
    color: #fff;
}
.navbar-light .navbar-toggler .navbar-toggler-icon{
    color: #fff;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus{
    background:none;
    outline: none;
}

.navbar-light .navbar-collapse{
    border:none;

}
/*END OF NAVIGATION*/


.header-content{
    box-sizing: border-box;
    height: 600px;
    max-width: 100%;
    width: 100%;
    background: url(img/banner-header-1.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}
.header-content h1{
    font-size: 2.25em;
    font-family: "Open Sans",sans-serif;
    color:#fff;
    letter-spacing: 4px;
}
.header-content .row .col-xs-12>h1:not(:first-child){
    margin-bottom: 1.8rem;
}
.header-content h2{
    font-size: 0.80em;
    font-family: "Open Sans",sans-serif;
    text-transform: none;
    color: #fff;
    letter-spacing: 2px;
}
.header-content .container .row .col-xs-12{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 11rem;
    padding-left: 12rem;
}

/*END OF HEADERR END OF HEADERR END OF HEADERR END OF HEADERR END OF HEADERR */

.text-banner{
    background: #2c3e50;
    padding: 30px 0;
}
.text-banner h2{
    color: #fff;
    font-weight: 300;
    margin: 18px 0 0;
}
.text-banner h1{
    color: #f39c12;
    font-weight: 700;
    margin: 27px 0 40px;
}
.text-banner h3{
    color: #95a5a6 ;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
}
.text-banner h3 span{
    color: #fff;
}

.text-banner .btn-default{
    border-radius: 2px;
    border:1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 30px;
    margin-bottom: 2rem;
}
.text-banner .btn-default:hover{
    background: rgba(255, 255, 255, 0.1);
}
.text-banner h3,
.text-banner h1{
    margin: 0 0 60px 0;
}
/*END OF TEXTBANNER END OF TEXTBANNER END OF TEXTBANNER END OF TEXTBANNER */

.course{
    padding: 60px 0;
}
.course h4{
    margin-bottom: 30px;
}
.course p{
    margin-bottom: 40px;
}
.course .more{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.icon-sprite{
    width: 40px;
    height: 40px;
    display:inline-block;
    background: url(img/sprite.png) no-repeat;
    margin-bottom: 20px;
}
.sprite-pro{
    background-position: left top;
}
.sprite-web-des{
    background-position: -41px top;
}
.sprite-grap{
    background-position: -80px top;
}
.course .row{
    border-bottom: 1px solid #e3e3e3;
}

/*END OF COURSE END OF COURSE END OF COURSE END OF COURSE */

.heading{
    padding: 60px 0;
}
.heading .h1-gallery{
    background:url(img/heading.png) no-repeat;
    background-position: center bottom;
    padding: 0 0 20px 0;
    color: transparent;
}
@media(max-width:47.9em){
    .control-right{
        padding: 20px 0 0 0;
    }
}

.gallery .container .row .col-md-3{
    position: relative;
    width: 100%;
    padding-right: 1.5px;
    padding-bottom: 2px;
    padding-left: 0px;
}
.gallery-inner img{
    position: relative;
    top:0;
    left:0;
    padding: 0;
    margin: 0;
    opacity: 0.6;
}
.gallery-inner .caption h4{
    color: #fff;
}
.gallery-inner .caption small{
    color: rgba(255, 255, 255, 0.6);
}
.gallery-inner .caption{
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    background:rgba(243,156,18,0.9);
    transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}
.gallery-inner{
    position: relative;
    width: 100%;
    float: left;
    background: #2c3e50 ;
}
.gallery-inner:hover .caption{
    opacity: 1;
}
.caption .caption-heading{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 .5rem .5rem .5rem;
}
.caption h4{
    float: left;
}
.caption small{
    float: right;
    margin-top: .5rem;
}
.gallery-inner .caption .btn-trigger{
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
}
.gallery-inner .caption .btn-trigger a{
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    border: 1px solid white;
}
.gallery-inner .caption .btn-trigger a:hover{
    background-color	: rgba(255,255,255,0.1);
}

.gallery-inner .caption .btn-trigger .web-link{
    position: absolute;
    left: 50%;
    margin-left: -44px;
    background: transparent url(img/gallerybtn1.png) center no-repeat;
}
.gallery-inner .caption .btn-trigger .more-info{
    position: absolute;
    left: 50%;
    margin-right: -43px;
    background: transparent url(img/gallerybtn2.png) center no-repeat;
}

/*END OF GALLERY END OF GALLERY END OF GALLERY END OF GALLERY END OF GALLERY */

.testimonials{
    padding:10px 0;
}
.testimonials .h1-testimonials{
    background:url(img/testimonials.png) no-repeat;
    background-position: center bottom;
    padding: 0 0 20px 0;
    color: transparent;
}
.testimonials .carousel-indicators{
    position: relative;
    width:40%;
    margin-left: 55%;
    top: -10%;
}
.testimonials .carousel-indicators li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    margin: 0 -.5px;
    flex: 0 1 auto;
    height: auto;
    border: 1px solid #bdc3c7;
    border-radius: 0;
    color: #95a5a6 ;
    width: auto;
    text-indent: 0;
    cursor: pointer;
    background-clip: padding-box;
    opacity: .5;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 5px;
    transition: opacity .6s ease;
}
.testimonials .carousel-indicators .active{
    Width	: auto;  
    Height	: auto;
    border	: 1px solid #3498db;
    border-right: 0px;
    opacity: 1;
    color	: #3498db;
    background	: transparent;
}
.testimonials .carousel-indicators .active:last-child{
    border	: 1px solid #3498db;
    border-left: 0px;
    Width	: auto;  
    Height	: auto;
    color	: #3498db;
    background	: transparent;
}

#carousel-testimonials .carousel-item{
    padding-top: 0px;
}
#carousel-testimonials .carousel-item img{
    margin-bottom: 60px;
}
#carousel-testimonials .carousel-item p{
    text-align: left;
    padding: 0 30px;
}
#carousel-testimonials .carousel-item h4{
    margin-bottom: 30px;
}
/*END OF TESTIMONIALS END OF TESTIMONIALS END OF TESTIMONIALS END OF TESTIMONIALS */



.partners{
    padding: 0 0 60px 0;
    background:#edf1f4;
}
.partners .h1-partner{
    background:url(img/partners.png) no-repeat;
    background-position: center bottom;
    padding: 0 0 20px 0;
    color: transparent;
}
.partners .carousel-indicators{
    position: relative;
    width:40%;
    margin-left: 30%;
    top: 10%;
}
.partners .carousel-indicators li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    margin: 0 auto;
    flex: 0 1 auto;
    height: auto;
    border-radius: 0;
    color: #95a5a6 ;
    width: auto;
    text-indent: 0;
    cursor: pointer;
    background: transparent;
    background-clip: padding-box;
    opacity: .5;
    text-transform: uppercase;
    padding: 7px 20px;
    transition: opacity .6s ease;
}
.partners .carousel-indicators .active{
    opacity: 2;
}
.partners .carousel-control-prev,
.partners .carousel-control-next {
    position: absolute;
    top: -18%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 10%;
    height: 40px;
    border-radius: 2px;
    color: #95a5a6;
    text-shadow: none;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #bdc3c7;
    padding: 25px 30px;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease;
}
.partners .carousel-control-prev{
    background: none;
    left: 70%;
    margin-right: -80px;
}
.partners .carousel-control-next{
    background: none;
    left: 87%;
    margin-left: -80px;

}
.partners .carousel-control-prev:hover,
.partners .carousel-control-next:hover{
    Color	: #3498db;
    Border	: 1px solid #3498db;
}
#carousel-partner blockquote p{
font-weight: 700;
color: #333;
Padding	: 104px 30px 40px 30px;
}
/*END OF PARTNERS END OF PARTNERS END OF PARTNERS END OF PARTNERS*/
.call-to-action{
background: #f39c12  url(img/calltoactionbg.jpg) 100% 0 no-repeat fixed;
background-size	: cover;
padding	: 60px 30px;
}
.call-to-action h2{
    color: white;
    font-size: 36px;
    font-weight: 400;
}
.call-to-action a{
    color: #fff;
    border-bottom: 2px solid white;
    text-decoration: none;
    font-weight: 700;
}
.call-to-action a:hover{
    color	: #2c3e50;
    border-bottom	: 2px solid #2c3e50;
}

/*END OF CALL TO ACTION END OF CALL TO ACTION END OF CALL TO ACTION END OF CALL TO ACTION*/

.contact-info{
    background: #2c3e50 ;
    padding: 40px 0;
}
.contact-info p{
    color: white;
    font-size: 14px;
}
.contact-info .location .icon-loc{
    margin-bottom: 1rem;
}
.contact-info .email .icon-email{    
    margin-bottom: 1rem;

}
.contact-info .phone .icon-phone{
    margin-bottom: 1rem;

}
.contact-info .location,
.contact-info .email{
    margin-bottom: 40px;
}

/*END OF FOOTER END OF FOOTER END OF FOOTER END OF FOOTER END OF FOOTER END OF FOOTER */

.footer{
    padding-top:50px;
}
.footer a{
    color: transparent;
}
.copyright small{
    color:#95a5a6;
    font-size:13px;
}
.footer 
.sprite-fb{
    background-position	: left -50px;
}
.sprite-twt{
    background-position	: -40px -50px;
}
.sprite-gp{
    background-position	: -80px -50px;
}
.sprite-ig{
    background-position	: -120px -50px;
}
.sprite-dc{
    background-position	: -160px -50px;
}

/*LARGE DEVICES LARGE DEVICES LARGE DEVICES LARGE DEVICES LARGE DEVICES LARGE DEVICES LARGE DEVICES LARGE DEVICES */
@media (max-width: 1199.98px) {
    .navbar-light .navbar-collapse{
        background: none;
        }
    .navbar .navbar-nav{
    margin-left:27%;
    }
    .caption .caption-heading {
        padding: 0 .2rem 0 .2rem;
    }
    .partners .carousel-control-prev {
        background: none;
        left: 68.8%;
        margin-right: -80px;
    }
    .partners .carousel-control-next {
        background: none;
        left: 87%;
        margin-left: -80px;
    }
    
.footer{
    padding-top:35px;
}
}




/*MEDIUM DEVICES MEDIUM DEVICES MEDIUM DEVICES MEDIUM DEVICES MEDIUM DEVICES MEDIUM DEVICES MEDIUM DEVICES */
@media (max-width: 991.98px) { 
    .navbar-light .navbar-collapse{
    background: none;
    }
    .navbar .navbar-nav{
    margin-left:1rem;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .header-content{
        height: 20em;
    }
    .header-content .container .row .col-xs-12{
        position: absolute;
        bottom: -30%;
        left: -20%;
        padding-bottom: 11rem;
        padding-left: 12rem;
    }
    .caption .caption-heading {
        padding: 0 .5rem 0 .5rem;
    }
    .partners .carousel-indicators{
        display: none;
        visibility: hidden;
    }
    .partners .carousel-control-prev {
        background: none;
        left: 66%;
        margin-right: -80px;
    }
    .partners .carousel-control-next {
        background: none;
        left: 87%;
        margin-left: -80px;
    }
    .heading {
        padding: 15px 0;
    }
    #carousel-testimonials .carousel-item p {
        text-align: left;
        padding: 0 40px;
    }
    
.footer{
    padding-top:25px;
}
}
/*Small Devices Small Devices Small Devices Small Devices Small Devices Small Devices */
@media (max-width: 767.98px) {
    .jumbotron .navbar-collapse .navbar-nav{
        width:100%;
    }
    .navbar-light .navbar-nav>.active>.nav-link {
        border-bottom: none;
    }
    .header-content .container .row .col-xs-12 {
    padding-bottom: 7rem;
    padding-left: 8.5rem;
    }
    .control-right .btn-default{
        margin-bottom: 1rem;
    }
    .gallery-inner {
        position: relative;
        width: 400px;
        float: left;
        left: 15%;
        background: #2c3e50;
    }
    .testimonials .h1-testimonials {
        margin-bottom: 2rem;
    }
    .testimonials .carousel-indicators {
        position: relative;
        width: 40%;
        margin-left: 30%;
        top: -1%;
    }
    #carousel-testimonials .carousel-item img {
        margin-bottom: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .partners .carousel-control-prev{
    left: 37.6%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
    .partners .carousel-control-prev,
    .partners .carousel-control-next{
    top: 5%;
    }
 }
/*EXTRA SMALL DEVICES EXTRA SMALL DEVICES EXTRA SMALL DEVICES EXTRA SMALL DEVICES EXTRA SMALL DEVICES */
 @media (max-width: 575.98px) {
    .header-content .container .row .col-xs-12 {
        padding-bottom: 6.5rem;
        padding-left: 8rem;
        }
    .gallery-inner {
        left: 23%;
        width: 300px;
    }
    .img-fluid {
        max-width: 300px;
    }
    .partners .carousel-control-prev{
    left: 39%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media(max-width:560px){
    .partners .carousel-control-prev{
    left: 38.6%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media(max-width:550px){
    .partners .carousel-control-prev{
    left: 37.9%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media (max-width: 510px) {
    .gallery-inner {
        left: 20%;
    }
}
@media (max-width: 500px) {
    .header-content .container .row .col-xs-12 {
        padding-bottom: 6.5rem;
        padding-left: 7.2rem;
    }
    .header-content .row .col-xs-12>h1:not(:first-child) {
        margin-bottom: 0.9rem;
    }
    .header-content h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
    .header-content h2 {
        font-size: 0.80em;
        letter-spacing: 2px;
    }
    .partners .carousel-control-prev{
    left: 38%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media (max-width: 490px) {
    .partners .carousel-control-prev{
    left: 39%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}
@media (max-width: 480px) {
    .header-content .container .row .col-xs-12 {
    padding-bottom: 6.3rem;
    padding-left: 6.5rem;
    }
    .partners .carousel-control-prev{
    left: 37%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media (max-width: 460px) {
    .header-content .container .row .col-xs-12 {
    padding-bottom: 6rem;
    padding-left: 6.1rem;
    }
    .partners .carousel-control-prev{
    left: 38%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}@media (max-width: 450px) {
    .partners .carousel-control-prev{
    left: 37.6%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}
@media (max-width: 440px) {
    .partners .carousel-control-prev{
    left: 36.6%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}
@media (max-width: 430px) {
    .partners .carousel-control-prev{
    left: 35.6%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}
@media (max-width: 425px) {
    .header-content .container .row .col-xs-12 {
    padding-bottom: 5.9rem;
    padding-left: 5.8rem;
    }
    .header-content .row .col-xs-12>h1:not(:first-child) {
        margin-bottom: 0.75rem;
    }
    .header-content h1 {
        font-size: 1.8em;
        letter-spacing: 2.5px;
    }
    .header-content h2 {
        font-size: 0.75em;
        letter-spacing: 1.8px;
    }
    .gallery-inner {
        left: 14%;
        width: 270px;
    }
    .testimonials .carousel-indicators li {
        padding: 4px 2px;
    }
    .img-fluid {
        max-width: 270px;
    }
    .partners .carousel-control-prev{
    left: 35.6%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}

@media (max-width: 420px) {
    .gallery-inner {
        left: 16%;
    }
    .partners .carousel-control-prev{
    left: 34.9%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
    
}


@media (max-width: 410px) {
    .header-content .container .row .col-xs-12 {
    padding-bottom: 5.8rem;
    padding-left: 5.6rem;
    }
    .gallery-inner {
        left: 14%;
    }
    .partners .carousel-control-prev{
    left: 34.3%;
    }
    .partners .carousel-control-next {
    left: 63.7%;
    }
}
@media (max-width: 391px) {
    .gallery-inner {
        left: 12%;
    }
    .partners .carousel-control-prev{
    left: 37.6%;
    }
    .partners .carousel-control-next {
    left: 67.7%;
    }
}


/*MOBILE M CHOME MOBILE M CHOME MOBILE M CHOME MOBILE M CHOME MOBILE M CHOME MOBILE M CHOME */
@media (max-width: 375px) {
    .header-content .container .row .col-xs-12 {
    padding-bottom: 5.9rem;
    padding-left: 5.3rem;
    }
    .header-content h1 {
        font-size: 1.6em;
        letter-spacing: 2.5px;
    }
    .header-content h2 {
        font-size: 0.70em;
        letter-spacing: 1.8px;
    }
    .gallery-inner {
        left: 14%;
        width: 270px;
    }
    .testimonials .carousel-indicators li {
        padding: 4px 2px;
    }
    .img-fluid {
        max-width: 270px;
    }
    .partners .carousel-control-prev{
    left: 31%;
    }
    .partners .carousel-control-next {
    left: 68.7%;
    }
}
/*Mobile S chrome Mobile S chrome Mobile S chrome Mobile S chrome Mobile S chrome */
@media (max-width: 320px) {
    .navbar-brand {
        width: 175px;
    }
    .header-content .container .row .col-xs-12 {
    padding-bottom: 5.9rem;
    padding-left: 4.6rem;
    }
    .header-content h1 {
        font-size: 1.5em;
        letter-spacing: 2.5px;
    }
    .header-content h2 {
        font-size: 0.65em;
        letter-spacing: 1.8px;
    }
    .gallery-inner {
        left: 8%;
        width: 270px;
    }
    .testimonials .carousel-indicators li {
        padding: 4px 2px;
    }
    .img-fluid {
        max-width: 270px;
    }
    .partners .carousel-control-prev{
    left: 30%;
    }
    .partners .carousel-control-next {
    left: 73.7%;
    }
}